
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #1e90ff; 
    color: white;
    padding: 20px;
    text-align: center;
    font-family: cursive;
    font-size: large;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}
nav ul li a:hover {
    background-color: #e67e22;
}

#dairy-intro {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#dairy-gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dairy-item {
    background-color: #ffffff;
    width: 30%;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease;
}

.dairy-item img {
    width: 100%;
    border-radius: 8px;
}

.dairy-item h3 {
    color: #1e90ff; 
    margin: 10px 0;
}
.dairy-item img{
    height: 290px;   
}

.dairy-item p {
    color: #4b4b4b; 
}

.dairy-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}
#mmm {
    height: 130px;
    width: 130px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 70px;
    color:#008080; ;
    
    }

footer {
    background-color: #1e90ff; 
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
